<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="login.css"/>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="wrapper">
            <h2>QG技术论坛：{{way}}</h2>
            <br>
            <!-- 注册表单 -->
            <div class="form-panel" :class="{active: ifRegister && !ifForgotPassword}">
                <form action="/register" method="post" @submit.prevent="submitCheck">
                    <label>手机号：
                        <input type="text" v-model="setPhone">
                        <span class="error">{{ errors.setPhone }}</span>
                    </label>
                    <label>邮箱：
                        <input type="text" v-model="setEmail" maxlength="20">
                        <span class="error">{{ errors.setEmail }}</span>
                    </label>
                    <label>密码：
                        <input type="password" v-model="setPassword" maxlength="15">
                        <span class="error">{{ errors.setPassword }}</span>
                    </label>
                    <label>确认密码：
                        <input type="password" v-model="setPasswordAgain" maxlength="15">
                        <span class="error">{{ errors.setPasswordAgain }}</span>
                    </label>
                    <label v-if="showVerifyCode || ifRegister" class="verify-code-group">
                        验证码：
                        <input type="text" v-model="verifyCode">
                        <img :src="'/verify/getVerifyCode?' + timestamp" @click="refreshVerifyCode"
                             class="verify-code-img">
                        <span class="error">{{ errors.verifyCode }}</span>
                    </label>
                </form>
            </div>

            <!-- 修改密码表单 -->
            <div class="form-panel" :class="{active: ifForgotPassword}">
                <form @submit.prevent="submitChangePassword">
                    <label>手机号/邮箱：
                        <input type="text" v-model="forgotAccount" maxlength="20">
                        <span class="error">{{ errors.forgotAccount }}</span>
                    </label>
                    <label>新密码：
                        <input type="password" v-model="newPassword" maxlength="15">
                        <span class="error">{{ errors.newPassword }}</span>
                    </label>
                    <label>确认新密码：
                        <input type="password" v-model="confirmNewPassword" maxlength="15">
                        <span class="error">{{ errors.confirmNewPassword }}</span>
                    </label>
                </form>
            </div>

            <!-- 登录表单 -->
            <div class="form-panel" :class="{active: ifLogin && !ifForgotPassword}">
                <form action="/login" method="post" @submit.prevent="submitCheck">
                    <label>手机号/邮箱：
                        <input type="text" v-model="loginAccount">
                        <span class="error">{{ errors.loginAccount }}</span>
                    </label>
                    <label>登录密码：
                        <input type="password" v-model="loginPassword">
                        <span class="error">{{ errors.loginPassword }}</span>
                    </label>
                    <label v-if="showVerifyCode" class="verify-code-group">
                        验证码：
                        <input type="text" v-model="verifyCode">
                        <img :src="'/verify/getVerifyCode?' + timestamp" @click="refreshVerifyCode"
                             class="verify-code-img">
                        <span class="error">{{ errors.verifyCode }}</span>
                    </label>
                    <h5 @click="turnForgetPassword" style="text-align: right;">忘记密码</h5>
                </form>
            </div>

            <br>
            <button class="button" @click="ifForgotPassword ? submitChangePassword() : submitCheck()">
                {{ ifForgotPassword ? '确认修改' : (ifRegister ? '完成注册' : '立即登录') }}
            </button>
            <br>
            <h4 @click="turnWay">{{turn}}</h4>
        </div>
    </div>
</div>

<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.6.7/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: () => ({
            ifLogin: true,
            ifRegister: false,
            ifForgotPassword: false,
            showVerifyCode: false,
            hadLogin: false,

            way: '登录',
            turn: "还没有账号？点我注册",
            setPassword: '',
            setPasswordAgain: '',
            setPhone: '',
            setEmail: '',

            setName: "",
            loginAccount: '',
            loginPassword: '',
            errors: {},

            forgotAccount: '',
            newPassword: '',
            confirmNewPassword: '',
            verifyCode: '',
            errorCount: 0,

            timestamp: Date.now(),
            lastSubmitTime: Date.now(),

        }),
        mounted() {
            axios.post('/login/exitLogin');
        },
        methods: {
            // 公共方法
            refreshVerifyCode() {
                this.timestamp = Date.now();
            },
            handleResponseError(error) {
                if (error.response?.data.error) {
                    alert(error.response.data.error);
                    this.errorCount++;
                    if (this.errorCount >= 3) {
                        this.showVerifyCode = true;
                        this.refreshVerifyCode();
                    }
                }
            },

            turnWay() {
                // 如果当前是注册 / 忘记密码状态，则转化为登录
                if ((this.ifRegister || this.ifForgotPassword) && !this.ifLogin) {
                    this.turnLogin();
                } else {
                    // 如果当前是登录状态，则转化为注册
                    this.turnRegister();
                }
            },

            // 切换到登录表单
            turnLogin() {
                this.ifLogin = true;
                this.ifRegister = false;
                this.ifForgotPassword = false;
                this.way = '登录';
                this.turn = "还没有账号？点我注册";
                this.refreshVerifyCode();
            },

            // 切换到注册表单
            turnRegister() {
                this.ifLogin = false;
                this.ifRegister = true;
                this.ifForgotPassword = false;
                this.way = '注册';
                this.turn = "回到登录";
                this.refreshVerifyCode();
            },

            // 切换到忘记密码表单
            turnForgetPassword() {
                this.ifLogin = false;
                this.ifRegister = false;
                this.ifForgotPassword = true;
                this.way = '修改密码';
                this.turn = "回到登录";
            },

            // 验证逻辑
            validateVerifyCode() {
                if (!this.verifyCode) {
                    this.errors.verifyCode = '!!!验证码错误';
                    return false;
                }
                return true;
            },
            validatePhone(phone) {
                const phoneRegex = /^1[3-9]\d{9}$/;
                return phoneRegex.test(phone);
            },
            validateEmail(email) {
                const emailRegex = /^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/;
                return emailRegex.test(email);
            },

            // 提交处理
            async submitCheck() {

                let bridgeSubmitTime = Date.now();
                if (bridgeSubmitTime - this.lastSubmitTime < 3000) {
                    alert("您点的太快了，歇息一下吧！");
                    return;
                }

                this.errors = {};
                let ifSuccess = true;

                if (this.ifRegister) {
                    // 注册验证
                    ifSuccess = this.validateRegistration(ifSuccess, this.setPhone, this.setEmail);
                } else {
                    // 登录验证
                    ifSuccess = this.validateLogin(ifSuccess);
                }

                if (ifSuccess) {
                    this.handleSubmit();
                } else {
                    this.refreshVerifyCode();
                }

            },

            validateRegistration(ifSuccess, phone, email) {
                if (!this.validateVerifyCode()) ifSuccess = false;
                if (!this.validatePhone(phone)) {
                    ifSuccess = false;
                    this.errors.setPhone = "!!!不符合中国大陆手机号格式";
                }
                if (!this.validateEmail(email)) {
                    ifSuccess = false;
                    this.errors.setEmail = "!!!不符合邮箱格式";
                }
                if(this.setPasswordAgain !== this.setPassword){
                    ifSuccess = false;
                    this.errors.setPasswordAgain = "!!!两次输入密码不一致";
                }
                return ifSuccess;
            },

            validateLogin(ifSuccess) {
                if (this.errorCount >= 3 && !this.validateVerifyCode()) ifSuccess = false;
                if (!this.loginAccount) {
                    this.errors.loginAccount = '!!!请输入手机号/邮箱';
                    ifSuccess = false;
                }
                return ifSuccess;
            },

            async handleSubmit() {
                let that = this;
                try {
                    if (this.ifRegister) {
                        const response = await axios.post('/register/register', new URLSearchParams({
                            phone: that.setPhone,
                            email: that.setEmail,
                            password: that.setPassword,
                        }));
                        if (response.data.code === 200) {
                            alert(response.data.data);
                            // 避免一秒内多次提交
                            this.lastSubmitTime = Date.now();
                            this.turnWay();
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        const response = await axios.post('/login/login', new URLSearchParams({
                            account: that.loginAccount,
                            password: that.loginPassword,
                        }));
                        if (response.data.code === 200) {
                            window.location.href = response.data.message === "admin"
                                ? 'admin.html'
                                : 'user.html';
                        } else {
                            this.errorCount++;
                            alert(response.data.message + "，\n当前已输入错误" + this.errorCount + "次");
                            if (this.errorCount >= 3) {
                                this.showVerifyCode = true;
                                this.refreshVerifyCode();
                            }
                        }
                    }
                } catch (error) {
                    this.handleResponseError(error);
                }
            },

            // 修改密码
            async submitChangePassword() {
                this.errors = {};
                let ifSuccess = true;
                let that = this;

                if (!this.forgotAccount) {
                    this.errors.forgotAccount = '!!!请输入手机号/邮箱';
                    ifSuccess = false;
                }

                if (this.confirmNewPassword !== this.newPassword) {
                    ifSuccess = false;
                    this.errors.confirmNewPassword = '!!!两次输入密码不一致';
                }

                if (ifSuccess) {
                    try {
                        const response = await axios.post('/forget/forget', new URLSearchParams({
                            account: that.forgotAccount,
                            password: that.newPassword,
                        }));
                        if (response.data.code === 200) {
                            alert('密码修改成功！');
                            this.turnLogin();
                        }
                    } catch (error) {
                        this.handleResponseError(error);
                    }
                }
            },

        }
    })
</script>
</body>
</html>