.notification-icon {
    position: relative;
    cursor: pointer;
    font-size: 24px;
    margin-right: 110px;
    padding: 8px;
}

/* 小红点样式 */
.notification-badge {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 8px;
    height: 8px;
    background-color: #ff4444;
    border-radius: 50%;
    border: 2px solid white;
}